# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
.venv/
.env

# Frontend
cptr/frontend/node_modules/
cptr/frontend/build/
cptr/frontend/.svelte-kit/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

.cptr
*.log
cptr/frontend/package-lock.json
